:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.link {
  color: currentColor;
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 2px;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.heading {
  font-family: var(--accent-font, sans-serif);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-top: 10%;
  margin-bottom: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__theme-toggler {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__theme-item {
  position: relative;
}

.header__theme-button {
  font-family: inherit;
  font-size: 18px;
  color: currentColor;
  background-color: transparent;
  border: none;
  padding: 1px 5px 3px;
}

.header__theme-button:hover {
  cursor: pointer;
  text-decoration: underline solid currentColor 1px;
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-button:disabled {
  pointer-events: none;
}

/* .header__theme-button_type_dark */

/* .header__theme-button_type_light */

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 6px;
  left: 0;
  top: calc(1em / 2 + 4px);
  z-index: -1;
  background-color: var(--accent-color, #FFAB6B);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  display: inline-block;
  padding: 0 4px;
  margin: 1px;
  font-size: 200%;
  font-weight: 700;
  background-color: var(--accent-color, #FFAB6B);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__figure {
  position: relative;
  left: -5vi;
  margin: 7% 0;
  width: calc(100% + 5vi + 5vi);
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid currentColor;
  text-align: center;
  padding: 20px;
}

.content__blockquote {
  font-style: italic;
  line-height: 2;
  max-width: 75%;
  margin: 0 auto 1.5em;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  aspect-ratio: 4 / 3;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
  width: 90%;
}

.colored-text {
  white-space: nowrap;
  position: relative;
}

.colored-text::after {
  content: '';
  position: absolute;
  inline-size: 220px;
  block-size: 0.25em;
  left: calc((100% - 220px) / 2);
  top: calc(1em / 2 + 4px);
  z-index: -1;
  background-color: var(--accent-color, #FFAB6B);
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__card-subtitle {
  font-size: 18px;
  text-align: center;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.content__list-item::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: -25px;
  top: calc((100% - 15px) / 2);
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid currentColor;
}

.footer__copyright {
  font-size: 18px;
  text-align: center;
}